instruction:
add,
0001,
3,
instruc-end;

instruction:
sub,
0010,
3,
instruc-end;

instruction:
load_immd,
0011,
2,
instruc-end;

instruction:
output,
0100,
1,
instruc-end;

instruction:
push,
0101,
1,
instruc-end;

instruction:
pop,
0110,
1,
instruc-end;

instruction:
call,
0111,
1,
instruc-end;

instruction:
return,
1000,
1,
instruc-end;

instruction:
jmp,
1001,
1,
instruc-end;

instruction:
branch,
1010,
4,
instruc-end;

instruction:
cmp,
1011,
2,
instruc-end;

instruction:
mov,
1100,
2,
instruc-end;

instruction:
math,
1101,
4,
instruc-end;

instruction:
syscall,
1110,
1,
instruc-end;

instruction:
halt,
1111,
4,
instruc-end;